/* Provide sufficient contrast against white background */
body {
  text-align: center;
}

.inventoryList {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

/* .buttons {
  margin: 20px; */

/* .classes {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
} */

/* .submitButton {
  margin-top: 20px;
} */

/* .buttons{
  margin: theme.spacing(1),
} */

/* a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */
